@import "../../../assets/styles/variables";

:host {
  display: grid;
  grid-template-rows: 64px 1fr;
  height: 100%;
}

.toolbar {
  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.calendar {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: $color-blue-500;
    color: white;

    .header__cell {
      padding: 8px 10px;
      text-align: center;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;

    .grid__cell {
      $grid-padding: 10px;
      position: relative;
      height: 100%;
      min-height: 100px;
      background-color: $color-gray-200;
      box-shadow: 0 0 0 1px black;
      padding: $grid-padding;
      overflow-y: auto;

      h3 {
        $marker-size: 24px;
        position: absolute;
        top: $grid-padding;
        left: $grid-padding / 2;
        z-index: 1;
        height: $marker-size;
        min-width: $marker-size;
        font-size: 1.3em;
        white-space: nowrap;
        font-weight: bold;
        line-height: $marker-size;
        padding: 0 4px;
        text-align: center;
      }

      &--weekend {
        background-color: $color-gray-100;

        h3 {
          color: $color-blue-500;
        }
      }

      .reminders {
        width: 100%;
      }

      .reminder {
        $height: 24px;
        appearance: none;
        display: block;
        width: 100%;
        height: $height;
        padding: 2px;
        border-radius: 3px;
        color: $color-white;
        line-height: $height;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        cursor: pointer;

        &--placeholder {
          opacity: 0;
          background-color: rgba($color-blue-500, .15);
          transition: opacity, background-color .15s ease-in;

          &:focus,
          &:hover,
          &:active {
            background-color: rgba($color-blue-500, .25);
          }
        }

        &--red {
          background-color: $reminder-color-red;
        }

        &--green {
          background-color: $reminder-color-green;
        }

        &--yellow {
          background-color: $reminder-color-yellow;
        }

        &--purple {
          background-color: $reminder-color-purple;
        }
      }

      .reminder + .reminder {
        margin-top: 1px;
      }

      &:hover,
      &:focus {
        .reminder.reminder--placeholder {
          opacity: 1;
        }
      }

      &--dummy {
        background-color: $color-white;
      }
    }
  }
}
