<header class="toolbar">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Jobsity challenge</span>
    <span class="spacer"></span>
    <button mat-button (click)="openReminderForm()">
      <mat-icon>add</mat-icon> New reminder
    </button>
  </mat-toolbar>
</header>

<section class="calendar">
  <div class="calendar__header">
    <div *ngFor="let day of week" class="header__cell">
      {{ day | titlecase }}
    </div>
  </div>
  <div class="calendar__grid">
    <div *ngFor="let d of month" class="grid__cell"
         [ngClass]="{
       'grid__cell--weekend': d.weekDay === 'sunday' || d.weekDay == 'saturday',
       'grid__cell--dummy' : d.day === null
       }">
      <h3>{{ d.day }}</h3>
    </div>
  </div>
</section>
