:host {
  display: grid;
  grid-template-rows: 64px 1fr;
  height: 100%;
}

.toolbar {
  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.calendar {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #2980b9;
    color: white;

    .header__cell {
      padding: 8px 10px;
      text-align: center;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;

    .grid__cell {
      height: 100%;
      min-height: 100px;
      background-color: #fbfcfc;
      box-shadow: 0 0 0 1px black;
      padding: 10px;

      h3 {
        font-weight: bold;
      }

      &--weekend {
        background-color: #ecf0f1;

        h3 {
          color: #2980b9;
        }
      }

      .reminders {
        width: 100%;
      }

      .reminder {
        color: white;

        &--red {
          background-color: #ED4C67;
        }

        &--green {
          background-color: #A3CB38;
        }

        &--yellow {
          background-color: #FFC312;
        }

        &--purple {
          background-color: #5758BB;
        }
      }

      &--dummy {
        background-color: white;
      }
    }
  }
}
