$font-size-base: 14px;
$toolbar-z-index: 10;

$color-blue-500: #2980b9;
$color-blue-100: #e7f2fa;
$color-gray-100: #ecf0f1;
$color-gray-200: #fbfcfc;
$color-white: #fff;

$reminder-color-red: #ed4c67;
$reminder-color-green: #a3cb38;
$reminder-color-yellow: #ffc312;
$reminder-color-purple: #5758bb;

$viewport-mobile-small: 300px;
$viewport-container-base: 480px;
